
  #body {
      background-color: #cccccc;
  }

  h4 {
     margin-left: 33.333%;

  }
   h1,h2, h3, p {
       float: inherit;
       margin: 10px;
       font-family: Arial, Helvetica, sans-serif;
   }





    #nav {
      position: inherit;
        float: right;
      left: 0px;
      top: 0px;
      width: 1200px;
      height: 3183px;
      z-index: 108;
        list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;


    }
    .Text__color___hover_ {
      font-size: 24px;
      font-family: "MyriadPro";}
























  #banner {
      height: 500px;

      width: 1200px;
      padding: 0;
     float: none;
     margin-left: 250px;
       background-image: url("images/©daniel.chodusov.png")
  }





  .effect {
        background-color: rgb(224, 183, 181);
        opacity: 0.702;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 1200px;
        height: 500px;
       z-index: 94;
  margin-left: 250px
  }



 #content, .content p {
    height: auto;

    width: 630px;

    background-color: white;

     float: inherit;
      margin-left: 250px;
     padding: 5%;
 }



  .footnotes {

    height: 50px;
    width: 630px;
     background-color: #b3d4fc;

      float-wrap: 2px;
     margin-left: 5px;
}
