
  #body {
      background-color: #cccccc;
  }

  h4 {
     margin-left: 33.333%;

  }
   h1,h2, h3, p {
       float: inherit;
       margin: 10px;
       font-family: Arial, Helvetica, sans-serif;
   }


.navigation li{
    display: block;
    float: left
list-style-type: none;
    margin: 0;
    padding: 0





}
.navigation ul {
    display: block;

    list-style: none;

}


 a:link, a:visited {
     color: lightcyan;
     display: block;

 }
 a:hover { color: green

 }

    .navigation {
        text-align: right;
        text-decoration: none;
      margin-left: 1000 px;
        float:right;
      width: 1200px;
      height: 30px;
      z-index: 108;

    padding: 1000;



    }
    .Text__color___hover_ {
      font-size: 24px;
      font-family: "MyriadPro";}






  #banner{
      height: 500px;

      width: 1200px;
      padding: 0;
     float: none;

       background-image: url("images/©daniel.chodusov.png")
  }






  .design {
      width: 277px;
      height: 23px;
      opacity: 100%;
      position: absolute;
      left: 39%;
      top: 309px;
      z-index: 104;
      font-size: 16px;
      font-family: 'PT Sans', sans-serif;
      color: rgb(255, 255, 255);
      line-height: 1.2;
      text-align: center;
      -moz-transform: matrix( 1.52441274533761,0,0,1.5183892745357,0,0);
      -webkit-transform: matrix( 1.52441274533761,0,0,1.5183892745357,0,0);
      -ms-transform: matrix( 1.52441274533761,0,0,1.5183892745357,0,0);


      z-index: 40;


  }
  .caption {
      opacity: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 104;
  border-bottom: solid;
      font-size: 39.362px;
      font-family: 'PT Sans', sans-serif;
      color: rgb(255, 255, 255);
      line-height: 1.2;
      text-align: left;
      -moz-transform: matrix( 1.52441274533761,0,0,1.5183892745357,0,0);
      -webkit-transform: matrix( 1.52441274533761,0,0,1.5183892745357,0,0);
      -ms-transform: matrix( 1.52441274533761,0,0,1.5183892745357,0,0);
      position: absolute;
      left: 428.801px;
      top: 222.248px;
      z-index: 40; }





  .go_ahead {
      text-align: center;
      font-size: 24px;
      font-family: 'PT Sans', sans-serif;
      color: rgb(255, 255, 255);
      line-height: 1.2;
      text-align: left;
      -moz-transform: matrix( 1.00147964771748,0,0,1.00385148509278,0,0);
      -webkit-transform: matrix( 1.00147964771748,0,0,1.00385148509278,0,0);
      -ms-transform: matrix( 1.00147964771748,0,0,1.00385148509278,0,0);
      position: absolute;
      left: 547.851px;
      top: 484.096px;
      z-index: 98;
      text-align: center;
      border-style: solid;
      border-width: 6px;
      border-color: rgb(26, 188, 156), ;
      background-color: rgb(26, 188, 156);

      position: absolute;
      left: 489px;
      top: 470px;
      width: 210px;
      height: 49px;
      z-index: 97;
  }







  .effect {
        background-color: rgb(224, 183, 181);
        opacity: 0.702;
        position: inherit;
        left: 0px;
        top: 0px;
        width: 1200px;
        height: 500px;
       z-index: 94;

  }



 #content, .content p {
    height: auto;

    width: 630px;

    background-color: white;

     float: inherit;
      margin-left: 250px;
     padding: 5%;
 }





  #footer {
      background-color: rgb(26, 188, 156);

      padding: 0px;
      margin: 0px;

      width: 1200px;
      height: 275px;
      z-index: 10;

  }





  }
